.section-padding {
  margin-top: 156.25%;
  margin-bottom: 156.25%;
}

#about-me {
  /* height: 50vh; */
  /* width: 100%; */
  line-height: 1.8;
  color: #71797e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* break-after: auto; */
}

/* .about-container {
  /* padding-bottom: 60px; */
/* column-count: 3;
  column-gap: 40px;
} */

.para {
  text-align: left;
  padding-bottom: 20px;
}

.section-padding {
  padding-left: auto;
  padding-right: auto;
}

.about-me-title {
  color: #000000;
  font-family: "Alegreya" serif;
  font-weight: 400;
  font-size: 27px;
  /* padding-top: 25px; */
  text-align: center;
  margin-top: 100px;
}

hr {
  margin-top: 9rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(113, 121, 126, 1); 
  }
