.section-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

#about-me {
  /* height: 50vh; */
  /* width: 100%; */
  line-height: 1.8;
  color: #71797e;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  /* break-after: auto; */
}

/* .about-container {
  /* padding-bottom: 60px; */
/* column-count: 3;
  column-gap: 40px;
} */

.para {
  text-align: left;
  padding-bottom: 20px;
}

.section-padding {
  padding-left: auto;
  padding-right: auto;
}

.about-me-title {
  color: #000000;
  font-family: 'Raleyway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  /* padding-top: 25px; */
  text-align: center;
  padding-top: 25px;
}
