.my-credo-title {
  text-align: center;
  /* display: flex; */
  /* align-content: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  font-size: 30px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: medium 500;
  padding-top: 75px;
}

.credo-divs {
  text-align: center;
  margin: 50px;
}

/* .h1 {
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
} */

/* .credo-divs h1 {
  font-size: 16rem;
} */

.h1-credo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #71797e;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.h3-section-imagine {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  padding-left: 5px;
  margin: 10px;
}

.h3-section-enthusiasm {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  padding-left: 5px;
  margin: 5px;
}

.h3-section-detail-oriented {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-left: 23px;
  margin-right: 20px;
}

.h3-section-dedication {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-left: 10px;
}

.h3-section-communication {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-right: 40px;
}

.h3-section-teamwork {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-right: 20px;
  padding-left: 5px;
}

.h3-section-teamwork {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-right: 20px;
  padding-left: 5px;
}

.h3-section-success {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 12px;
  padding-left: 5px;
}

.credo-image {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 6rem;
  width: 6rem;
  margin: 3px;
}

.credo-para {
  display: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.credo-divs:hover .credo-para,
.credo-divs:focus .credo-para,
.credo-divs:active .credo-para {
  display: flex;
}

.credo-divs:hover .h1-credo,
.credo-divs:focus .h1-credo,
.credo-divs:active .h1-credo {
  display: none;
}
