.my-credo-title {
  text-align: center;
  font-size: 32px;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-top: 3em;
}

.credo-divs {
  text-align: center;
  margin: 50px;
}

.h1-credo {
  font-size: 20px;
  font-family: "source sans pro", sans-serif;
  font-weight: 400;
  color: #71797e;
  margin-left: auto;
  margin-right: auto;
  width: 6.188%;
  text-align: center;
}

.h3-section-imagine {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 0.619%;
}

.h3-section-enthusiasm {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 0.309%;
}

.h3-section-detail-oriented {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-right: 1.238%;
}

.h3-section-dedication {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.h3-section-communication {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 0.619%;
}

.h3-section-teamwork {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 6.5%;
}

.h3-section-teamwork {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 1.5%;
}

.h3-section-success {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 0.743%;
}

.credo-image {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 6rem;
  width: 6rem;
  margin: 3px;
}

.credo-para {
  display: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: #71797e;
}

.credo-divs:hover .credo-para,
.credo-divs:focus .credo-para,
.credo-divs:active .credo-para {
  display: flex;
}

.credo-divs:hover .h1-credo,
.credo-divs:focus .h1-credo,
.credo-divs:active .h1-credo {
  display: none;
}

hr {
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(113, 121, 126, 1);
}
