#overlay-offset {
  position: absolute;
  border-radius: 0 !important;
  padding: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}

.card-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 32px;
  padding-top: 4%;
}

.resume-icon-button {
  position: relative;
}

.image {
  width: 130px;
  height: 145px;
  margin-left: 900px;
  margin-top: 50px;
}
