#logo {
  max-width: 400px;
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 25%;
}



/* MEDIA QUERY 1000 */

#logo {
  max-width: 300px;
  position: absolute;
  left: 35%;
  top: 20%;
}

/* .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  padding-top: 8%;
} */

/* .logo-image {
  height: auto;
  width: 100%;
  max-width: 400px;
  background-image: url('./assets/LogoWhite.png');
}  */