.hero-background {
  background: url(../PortfolioProject/assets/background.jpeg) fixed;
  background-size: cover;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  padding-top: 8%;
}

.logo-image {
  height: auto;
  width: 700px;
  /* padding-bottom: 6%;
  padding-top: 10%; */
}
