@import "variables.css";
@import "mainContainer.css";
@import "navbar.css";
@import "about.css";
@import "hero.css";
@import "credo.css";
@import "portfolio.css";
@import "resume.css";
@import "skillset.css";
/* @import "responsive.css"; */
@import "paralasScrollingMethod.css";

/* html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
} */
