/* .container-fluid {
    background-color: transparent;
} */

/* .container {
  margin-left: 100px !important;
  margin-right: 100px !important;
} */
.navbar-dark {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

#navbarNav {
  margin-right: 3rem;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-brand {
  font-family: "Alegreya", serif;
  font-weight: 400;
  /* font-style: bold; */
  margin-left: 3rem;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  /* padding-top: 0.45rem; */
  /* padding-left: 1rem; */
  word-spacing: 0.3rem;
  /* margin-left: -2em; */
}

.custom-toggler .navbar-toggler-icon {
 border-color: rgb(255, 255, 255);
 color: white !important;
}



#nav-over {
  margin-left: auto;
}

/* .navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background-color: transparent !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: -3em;
} */

.nav-link {
  color: white !important;
  font-size: 16px;
  padding: 1rem;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: "Arvo", serif;
  font-weight: 400;
  /* word-spacing: 20px !important; */
  /* word-spacing: 30px; */
  /* ask taylor about word spacing issue. */
  /* font-style: bold; */
}

.navLink:hover {
  color: white;
  text-decoration: none;
}
