.portfolio {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

.col-sm-4 {
    width: 33.33333333%; 
    float: left; 
    position: relative;
}
.transition {
    -webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; 
    -o-transition: all .5s ease;  
    transition: all .5s ease;} */

body .container {
    width: 70%; 
    margin: 0 auto;
    margin-top: 20px;
}

.row1 .item {
    padding: 0;
}
.row1 .item img {
    padding: 0 !important; 
    display: block; 
    max-width: 100%; 
    height: auto;
}
.row1 a:hover .item img, .row1 a:focus .item img {
    opacity: .1;
}
.row1 h4, .row1 p {
    -webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; 
    -o-transition: all .5s ease;  transition: all .5s ease;} 
.row1 a .item h4 {
    font-family: 'Playfair Display', serif; 
    font-size: 24px; 
    position: absolute; 
    color:#fff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    position: absolute; 
    top:42%; 
    left:0; 
    right:0; 
    margin:0 auto; 
    text-align: center; 
    opacity: 0;
}
.row1 a:hover .item h4, .row1 a:focus .item h4 {
    opacity: 1;
}
.row1 a .item p {
    font-family: 'Open Source Sans', sans-serif; 
    font-size: 12px; 
    position: absolute; 
    color:#fff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    position: absolute; 
    top:52%; 
    left:0; 
    right:0; 
    margin:0 auto; 
    text-align: center; 
    opacity: 0;
}

.row1 a:hover .item p, .row1 a:focus .item p {
    opacity: 1;}

.row2 .item {
    padding: 0;}
.row2 .item img {
    padding: 0 !important; 
    display: block; 
    max-width: 100%; 
    height: auto;}
.row2 a:hover .item img, .row2 a:focus .item img {
    opacity: .1;}
.row2 h4, .row2 p {
    -webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; 
    -o-transition: all .5s ease;  
    transition: all .5s ease;} 

.row2 a .item h4 {
    font-family: 'Playfair Display', serif; 
    font-size: 24px; 
    position: absolute; 
    color:#fff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    position: absolute; 
    top:42%; 
    left:0; 
    right:0; 
    margin:0 auto; 
    text-align: center; 
    opacity: 0;
}

.row2 a:hover .item h4, .row2 a:focus .item h4 {
    opacity: 1;
}
.row2 a .item p {
    font-family: 'Open Source Sans', sans-serif; 
    font-size: 12px; 
    position: absolute; 
    color:#fff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    position: absolute; 
    top:52%; 
    left:0; 
    right:0; 
    margin:0 auto; 
    text-align: center; 
    opacity: 0;
}
.row2 a:hover .item p, .row2 a:focus .item p {
    opacity: 1;
}


@media screen and (max-width: 991px) {
.col-sm-4 {width: 50%;}
.row4 a .item h4 {font-size: 13px;}
}   

@media screen and (max-width: 580px) {
.col-sm-4 {width: 100%;}
} 
