.h1-my-skillset {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
}

#skills-div {
  margin: 4rem;
}

.skill-text {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
}

#html-css {
  display: block;
  text-align: center;
  justify-content: center;
  color: #c5247e;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#skill-html {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#bootstrap-5 {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#skill-bootstrap {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#wire-frame {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#skill-wireframe {
  display: block;
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#java-script {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#skill-bootstrap {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#skill-wireframe {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.skill-js {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#re-act {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.skill-react {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#node-js {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.skill-node {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#git-hub {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.skill-git {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#fa-html5 {
  color: #c5247e;
}

.html5css:hover {
  color: #c5247e;
}

.bootstrap:hover {
  color: #c5247e;
}

.wireframe:hover {
  color: #c5247e;
}

.javascript:hover {
  color: #c5247e;
}

.react:hover {
  color: #c5247e;
}

.node:hover {
  color: #c5247e;
}

.git:hover {
  color: #c5247e;
}

.fa-html5,
.fa-bootstrap,
.fa-js-square,
.fa-react,
.fa-node-js,
#fagithub {
  padding-bottom: 21.875%;
  display: flex;
  justify-content: center;
}

.far {
  padding-bottom: 21.875%;
  display: flex;
  justify-content: center;
}
